.card{
    width: 225px;
    height: 200px;
    /* background-color: hsl(15, 100%, 70%); */
    border-radius: 20px;
    /* margin-top: 20px; */
}

.lower-section {
    width: 225px;
    height: 175px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
    align-self: flex-end;
    /* padding: 50px; */

}