.lastWeekHours {
    color: hsl(236, 100%, 87%);
    width: 150px;
    height: 20px;
    font-size: 12px;
    /* background-color: orange; */
    justify-content: left;
    font-weight: 300;
    text-align: left;
    margin-left: 30px;
}